// All Y'alls gettin' border boxed
* {
	box-sizing: border-box;
	font-family: 'Proxima Nova', sans-serif;
}

// Color Palette
$primary-color: #333;
$secondary-color: #6b849d;

$red: #f25d44;
$yellow: #eab049;
$green: #93cc42;


// Structual settings
$nav-height: 70px;
$shelf-width: 120px;
$trench-width: 200px;

// Z-Indexing
$z-modal: 999;
$z-nav: 888;
$z-overlay: 777;
$z-window: 666;
