// Bourbon 
@import "bourbon";

// Browser styling reset
@import "reset";

// Configuration | Variables, Mixins, etc...
@import "config";
@import "mixins";


// Top Tier Navigation Bar
nav {
	width: 100%; height: $nav-height;
	position: fixed;
	top: 0; left: 0;
	background: $primary-color;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

// Main logo - upper left
.logo-main {
	height: 100%;
	padding: 0.75em;
}